/* Font families */
$font-family-sans: "DM Sans", serif;

/* Font sizes */
$font-size-3xs: 12px;
$font-size-2xs: 14px;
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-sm: 20px;
$font-size-base: 22px;
$font-size-md: 24px;
$font-size-lg: 30px;

/* Font weights */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

/* Line heights */
$line-height-xs: 14px;
$line-height-s: 18px;
$line-height-base: 20px;
$line-height-sm: 22px;
$line-height-md: 24px;
$line-height-lg: 26px;
