.inv {
  &__timeline {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 380px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  &__timeline-event {
    font-family: "Manrope", sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: black;
    line-height: 1.4;
    flex-basis: 100%;
    margin: 10px 0;

    span {
      font-weight: 600;
    }
  }
}
