* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  display: none;
}
